/*
    Capstone Project
    Student Portfolio

    Author: Angela Valenzuela

    Filename: about_styles.css
*/


img {
    clear:left;
}

p {
    text-align: center;
    width:70%;
    margin-left:150px;
}
.aboutMe {
    display:block;
    height:auto;
    width:auto;
}
