/*
    Capstone Project
    Student Portfolio

    Author: Angela Valenzuela

    Filename: contact_styles.css
*/


/*Figure Box Styes*/
figure {
    float: left;
    box-shadow: #9B8F8B 5px 5px 5px;
    background-color: white;
    margin: 10px 5px;
    padding: 10px;
    height: 330px;
}

figure img {
    display: block;
    width: auto;
    height: 267px;
}

figure figcaption {
    background-color: white;
    padding: 20px 10px;
    text-align: center;
    font-style: italic;
}

/*Form Styles*/
form#guestBook { 
    border-style: solid;
    border-width: 8px;
    border-color: black;
    color:black;
	padding: 10px;
    margin: 10px;
}

form#guestBook > label{
    padding: 20px;
}

/*Form DIV "email" style*/
    .smail{
        margin-top: 10px;
        margin-bottom: 10px;
    }

/*Form fieldset Styles*/
form#guestBook > fieldset{
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

/*Form Legend Styles*/
legend {
    background-color: #a5453e;
    color: white;
}

/*DIV Page Styles*/
div.contactContainer {
    margin: 5px;
    padding: 10px;
}

/*DIV Page Style Text*/
div.pleaseLeaveMsg{
    float: right;
    width: 50%;
    margin: auto;
    padding: 10px;
}

/*Form Text Area Styles*/
textarea {
    margin-top: 10px;
    height: 100px;
    width: 95%;
}

/*Form Button Styles*/
div#buttons {
    text-align: center;
    width: 100%;
}

/*Button Styles*/
input[type='submit'], input[type='reset'] { 
    padding: 5px 5px;
    margin: 15px;
}

/*Address Styles*/
address {
    display: block;
    margin:10px;
}

/*Email Link Styles*/
a:link {color: black;}
a:hover {color: rgb(255, 0, 0) ;}

