/*
    Capstone Project
    Student Portfolio

    Author: Angela Valenzuela

    Filename: contact_styles.css
*/



/*Form Styles*/
form#guestBook { 
    border-radius: 3px;
    box-sizing: content-box;
    width:75%;
    margin-left:90px;
}

form#guestBook > label{
    padding: 20px;
}


/*Form fieldset Styles*/
form#guestBook > fieldset{
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

/*Form Legend Styles*/
legend {
    border-radius: 85px;
    border-style: groove;
    padding:5px;
    background-color: #f0c722;
}


/*Form Text Area Styles*/
textarea {
    margin-top: 10px;
    height: 100px;
    width: 95%;
}

/*Form Button Styles*/
div#buttons {
    text-align: center;
}

/*Button Styles*/
input[type='submit'], input[type='reset'] { 
    padding: 10px;
    margin: 15px;
    border-radius: 25px;
    background-color: #f0c722;
    font-size: .8em;
}



/*Email Link Styles*/
a:link {color: black;}
a:hover {color: rgb(255, 0, 0) ;}

