/*
    Capstone Project
    Student Portfolio

    Author: Angela Valenzuela
		
    Filename: efolio_styles.css
*/

.icons{
    
    border-style: groove;
    border-radius: 25px;
}

#paintBrush {
    padding:5px;
}

figcaption {
    padding:5px;
}

