/*
    Capstone Project
    Student Portfolio

    Author: Angela Valenzuela

    Filename: index_styles.css
*/

/*HTML and Body Styles*/

html {
	background-color: #0e210b;
}

.letter {
    float: right;
    text-align:justify;
    height: auto;
    line-height: 1.5em;
    width: 50%;
    margin-top: 50px;
    margin-right: 80px;
}

img {
    clear: right;
    border-radius: 20%; 
    padding: 20px 20px;
}

.title {
    text-align: center;
    padding: 20px;
    line-height: .5em;
}

body {
    background-color: white;
	display: block;
	min-width: 700px;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}


.wrapper {
    background-color: white;
    display: block;
    min-width: 700px;
	max-width: 1024px;
    margin: 35px;
}

aside {
    float: left;
}









