/*
        Final Project Step 7
		Student Portfolio

		Author: Angela Valenzuela
		Date: 12/05/2018
		
		Filename: responsive_flex.css
*/


/* ================
   Base Flex Styles
   ================
*/

body {
	display: -webkit-flex;
	display: flex;
	
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

header, footer {
	width: 100%;
}



/* =========================
   Mobile Styles: 0 to 480px 
   =========================
*/

@media only screen and (max-width: 480px) {
	
    
	.wrapper {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
    }
	
	/* Footer Style */
	footer {
		-webkit-order: 100;
		order: 100;
	}
}


